# --- DEMO (RELEASED VERSION) ---

# COMPOSE_FILE=docker-compose.yml

# --- PREVIEW (MOST RECENT UNRELEASED VERSION) ---

# COMPOSE_FILE=docker-compose.yml:docker-compose.preview.yml

# --- DEV ---

# COMPOSE_FILE=docker-compose.yml:docker-compose.dev-backend.yml
# COMPOSE_FILE=docker-compose.yml:docker-compose.dev-frontend.yml
# COMPOSE_FILE=docker-compose.yml:docker-compose.dev-backend.yml:docker-compose.dev-frontend.yml

## --- LIMESURVEY DEV ---

# COMPOSE_FILE=docker-compose.yml:docker-compose.dev-frontend.yml:docker-compose.dev-limesurvey.yml
# COMPOSE_FILE=docker-compose.yml:docker-compose.dev-backend.yml:docker-compose.dev-frontend.yml:docker-compose.dev-limesurvey.yml

